lib/*
*.backup
*.log
*.aux
*.dvi
*.gz
*.idx
*.ind
*.out
*.ilg
*.toc
*.patch
*/*.zip
.*
!/.gitignore
*.bbl
*.bcf
*.blg
*.xml
*.kilepr
*.mpx
*mptextmp.mp
*mpxerr.tex
*.maf
*.pdf
*.zip
*.jpeg
*.jpg
*.png
*.ttf
*eps-converted-to.pdf
*~
